@font-face {
    font-family: 'DINBLACK_1';
    src: url('../fonts/DINBLACK_1.eot');
    src: url('../fonts/DINBLACK_1.eot') format('embedded-opentype'),
         url('../fonts/DINBLACK_1.woff2') format('woff2'),
         url('../fonts/DINBLACK_1.woff') format('woff'),
         url('../fonts/DINBLACK_1.ttf') format('truetype'),
         url('../fonts/DINBLACK_1.svg#DINBLACK_1') format('svg');
}

@font-face {
    font-family: 'DINBLACK_2';
    src: url('../fonts/DINBLACK_2.eot');
    src: url('../fonts/DINBLACK_2.eot') format('embedded-opentype'),
         url('../fonts/DINBLACK_2.woff2') format('woff2'),
         url('../fonts/DINBLACK_2.woff') format('woff'),
         url('../fonts/DINBLACK_2.ttf') format('truetype'),
         url('../fonts/DINBLACK_2.svg#DINBLACK_2') format('svg');
}

@font-face {
    font-family: 'DINBOLD_1';
    src: url('../fonts/DINBOLD_1.eot');
    src: url('../fonts/DINBOLD_1.eot') format('embedded-opentype'),
         url('../fonts/DINBOLD_1.woff2') format('woff2'),
         url('../fonts/DINBOLD_1.woff') format('woff'),
         url('../fonts/DINBOLD_1.ttf') format('truetype'),
         url('../fonts/DINBOLD_1.svg#DINBOLD_1') format('svg');
}

@font-face {
    font-family: 'DINLIGHT_1';
    src: url('../fonts/DINLIGHT_1.eot');
    src: url('../fonts/DINLIGHT_1.eot') format('embedded-opentype'),
         url('../fonts/DINLIGHT_1.woff2') format('woff2'),
         url('../fonts/DINLIGHT_1.woff') format('woff'),
         url('../fonts/DINLIGHT_1.ttf') format('truetype'),
         url('../fonts/DINLIGHT_1.svg#DINLIGHT_1') format('svg');
}

@font-face {
    font-family: 'DINMEDIUM_1';
    src: url('../fonts/DINMEDIUM_1.eot');
    src: url('../fonts/DINMEDIUM_1.eot') format('embedded-opentype'),
         url('../fonts/DINMEDIUM_1.woff2') format('woff2'),
         url('../fonts/DINMEDIUM_1.woff') format('woff'),
         url('../fonts/DINMEDIUM_1.ttf') format('truetype'),
         url('../fonts/DINMEDIUM_1.svg#DINMEDIUM_1') format('svg');
}