/*
 * color variables 
 * c = coated
 * u = uncoated
 */
$pantone533c: #0a2342;
$pantone513c: #933694;
$pantone214c: #db2e6e;
$pantone158c: #f26e25;
$pantone7408u: #f9a31a;
$pantone4c: #000000; // black
$pantonewhite: #ffffff; // white

/**
 * fonts variables
 */
$dinlight: 'DINLIGHT_1';
$dinmedium: 'DINMEDIUM_1';
$dinbold: 'DINBOLD_1';
$dinblack-1: 'DINBLACK_1';
$dinblack-2: 'DINBLACK_2';

